//
//  AppStore.xcconfig
//  RetroArch_iOS13
//
//

APPSTORE_BUILD = 1

// the app store versioning tries to track closely to RetroArch's, however
// the app store version must be major.minor.patch and always incrementing,
// so any follow up/hotfix releases will necessarily have the patch version
// drift a little bit
MARKETING_VERSION = 1.18.2
CURRENT_PROJECT_VERSION = 8

OTHER_CFLAGS = $(inherited) -DHAVE_APPLE_STORE
OTHER_CFLAGS = $(inherited) -DkRetroArchAppGroup=@\"group.com.libretro.dist.RetroArchGroup\"

IOS_BUNDLE_IDENTIFIER = com.libretro.dist.RetroArch
TVOS_BUNDLE_IDENTIFIER = com.libretro.dist.RetroArch

TVOS_CODE_SIGN_ENTITLEMENTS = tvOS/RetroArchTV.entitlements

IPHONEOS_DEPLOYMENT_TARGET = 14.2
TVOS_DEPLOYMENT_TARGET = 14.2
