<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleExecutable</key>
    <string>%CORE%</string>
    <key>CFBundleName</key>
    <string>%BUNDLE%</string>
    <key>CFBundleIdentifier</key>
    <string>%IDENTIFIER%</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0.0</string>
    <key>CFBundleVersion</key>
    <string>1.0.0</string>
    <key>MinimumOSVersion</key>
    <string>%OSVER%</string>
    <key>CFBundlePackageType</key>
    <string>FMWK</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
  </dict>
</plist>
