[submodule "deps/glslang/glslang"]
	path = deps/glslang/glslang
	url = git://github.com/KhronosGroup/glslang.git
[submodule "deps/SPIRV-Cross"]
	path = deps/SPIRV-Cross
	url = git://github.com/KhronosGroup/SPIRV-Cross
