*.o
*.bmpobj
*.binobj
*.so
*.dll
*.a
*.elf
*.dol
*.map
config.log
/retroarch
/retroarch.*
/config.h
/config.mk
/tools/retroarch-joyconfig
/tools/retroarch-joyconfig.*
/tools/retrolaunch/retrolaunch
*.ncb
*.sdf
*.opensdf
*.suo
Debug
Release
ipch
*.user
/wii/app_booter/app_booter.bin
*.zip
RetroArch-w32/
RetroArch-w64/
android/native/obj/
android/phoenix/bin/
android/phoenix/gen/
.DS_Store
*/build/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
profile
*.moved-aside
DerivedData
.idea/
*.hmap
apple/tmp
apple/modules/*.dylib
apple/*.mobileprovision
/Cg/
/GL/
/SDL/
/ffmpeg/
/freetype2/
/ft2build.h
/iconv.h
/libxml2/
/phoenix/
/python/
/rsound.h
