[submodule "deps/glslang/glslang"]
	path = deps/glslang/glslang
	url = git://github.com/KhronosGroup/glslang.git
[submodule "deps/spir2cross"]
	path = deps/spir2cross
	url = git://github.com/ARM-software/spir2cross
