*.o
*.bmpobj
*.binobj
*.so
*.dll
*.a
*.elf
*.dol
*.map
config.log
/retroarch
/retroarch.*
/config.h
/config.mk
/tools/retroarch-joyconfig
/tools/retroarch-joyconfig.*
*.ncb
*.sdf
*.opensdf
*.suo
Debug
Release
ipch
*.user
/wii/app_booter/app_booter.bin
*.zip
RetroArch-w32/
RetroArch-w64/
android/native/obj/
android/phoenix/bin/
android/phoenix/gen/
