[Desktop Entry]
Version=1.5
Type=Application
Name=RetroArch
GenericName=Game emulator frontend
GenericName[ar]=واجهة ألعاب متعددة المحاكيات
GenericName[bg]=Интерфейс за игри с няколко емулатора
GenericName[cs]=Herní rozhraní pro více emulátorů
GenericName[da]=Interface til spil med flere simulatorer
GenericName[de]=Schnittstelle für Spiele auf verschiedenen Emulatoren
GenericName[el]=Διεπαφή παιχνιδιών πολλαπλών εξομοιωτών
GenericName[es]=Interfaz para emuladores de juegos
GenericName[et]=Mitme emulaatori mänguliides
GenericName[fi]=Peli-emulaattorin käyttöliittymä
GenericName[fr]=Interface de jeu à émulateurs multiples
GenericName[hu]=Több emulátoros játékfelület
GenericName[id]=Antarmuka permainan multi-emulator
GenericName[it]=Interfaccia di gioco a vari emulatori
GenericName[ja]=マルチエミュレーター・ゲーミングインターフェース
GenericName[ko]=멀티 에뮬레이터 게임 인터페이스
GenericName[lt]=Kelių emuliatorių žaidimų sąsaja
GenericName[lv]=Vairāku emulatoru spēļu saskarne
GenericName[nb]=Grensesnitt for spill med flere emulatorer
GenericName[nl]=Interface voor gamen met meerdere spelers
GenericName[pl]=Interfejs do gier na wielu emulatorach
GenericName[pt-br]=Interface de jogos com vários emuladores
GenericName[pt-pt]=Interface para muitos emuladores de consolas de jogos
GenericName[ro]=Interfață de joc cu mai multe emulatoare
GenericName[ru]=Игровой интерфейс с несколькими эмуляторами
GenericName[sk]=Rozhranie pre hry s viacerými emulátormi
GenericName[sl]=Igralni vmesnik za več emulatorjev
GenericName[sv]=Gränssnitt för spel med flera emulatorer
GenericName[tr]=Çoklu emülatör oyun arayüzü
GenericName[uk]=Ігровий інтерфейс з декількома емуляторами
GenericName[zh-hans]=多模拟器游戏界面
GenericName[zh-hant]=多電腦遊戲介面
Comment=Unified frontend for many game console emulators, frameworks and media players
Comment[ar]=واجهة أمامية موحدة لمجموعة واسعة من محاكيات وحدات التحكم في الألعاب وغيرها من أطر الألعاب أو مشغلات الوسائط
Comment[bg]=Унифициран фронтенд за широк набор от емулатори на игрови конзоли и други рамки за игри или медийни плейъри
Comment[cs]=Jednotný frontend pro širokou škálu emulátorů herních konzolí a dalších herních frameworků nebo přehrávačů médií
Comment[da]=En samlet frontend til en lang række spilkonsol-emulatorer og andre spilframeworks eller medieafspillere
Comment[de]=Ein einheitliches Grafik-Interface für eine breite Palette von Spielkonsolen-Emulatoren und andere Spiele-Frameworks oder Media-Player
Comment[el]=Ένα ενοποιημένο γραφικό frontend για ένα ευρύ φάσμα εξομοιωτών κονσολών παιχνιδιών και άλλων πλαισίων παιχνιδιών ή media players
Comment[es]=Interfaz gráfica unificada para numerosos emuladores de videoconsolas y otros entornos de juego o reproductores multimedia
Comment[et]=Ühtset eesliidest paljude mängukonsoolide emulaatorite ja muude mänguraamistike või meediamängijate jaoks
Comment[fi]=Yhtenäinen etusivu monille pelikonsoliemulaattoreille ja muille pelikehyksille tai mediasoittimille
Comment[fr]=Interface graphique unifiée pour un large éventail d'émulateurs de consoles de jeux et d'autres logiciels de jeux ou de lecteurs multimédias
Comment[hu]=Egységes grafikus frontend játékkonzol-emulátorok és egyéb játék keretrendszerek vagy médialejátszók széles skálájához
Comment[id]=Antarmuka grafis terpadu untuk beragam emulator konsol game dan kerangka kerja game atau pemutar media lainnya
Comment[it]=Un frontend grafico unificato per un'ampia gamma di emulatori di console e altri framework di gioco o lettori multimediali
Comment[ja]=幅広いゲーム機エミュレーターやその他のゲームフレームワーク、メディアプレーヤー用の統一されたグラフィカルフロントエンド
Comment[ko]=다양한 게임 콘솔 에뮬레이터 및 기타 게임 프레임워크 또는 미디어 플레이어를 위한 통합 그래픽 프론트엔드
Comment[lt]=Suvienodinta grafinė prieiga, skirta įvairiems žaidimų konsolių emuliatoriams ir kitoms žaidimų programoms ar medijos grotuvams
Comment[lv]=Vienota grafiskā saskarne plašam spēļu konsoļu emulatoru un citu spēļu ietvaru vai multivides atskaņotāju klāstam
Comment[nb]=En enhetlig grafisk frontend for et bredt utvalg av spillkonsollemulatorer og andre spillrammeverk eller mediespillere
Comment[nl]=Een uniforme frontend voor een breed scala aan spelconsole-emulators en andere gameframeworks of mediaspelers
Comment[pl]=Ujednolicony interfejs graficzny dla szerokiej gamy emulatorów konsoli do gier i innych platform do gier lub odtwarzaczy multimedialnych.
Comment[pt-br]=Um front-end gráfico unificado para diversos emuladores de console de jogos e outras estruturas ou reprodutores de mídia
Comment[pt-pt]=Interface gráfica unificada para vários emuladores de consolas de jogos e outras estruturas de jogos ou leitores multimédia
Comment[ro]=Un frontend grafic unificat pentru o gamă largă de emulatoare de console de jocuri și alte cadre de jocuri sau playere media
Comment[ru]=Графический интерфейс для эмуляторов, игровых движков и медиаплееров
Comment[sk]=Jednotný grafický frontend pre širokú škálu emulátorov herných konzol a iných herných rámcov alebo prehrávačov médií
Comment[sl]=Enoten grafični vmesnik za številne emulatorje igralnih konzol in drugih igralnih ogrodij ali predvajalnikov medijev
Comment[sv]=En enhetlig grafisk frontend för ett brett utbud av spelkonsolemulatorer och andra spelramverk eller mediaspelare
Comment[tr]=Çok çeşitli oyun konsolu emülatörleri ve diğer oyun çerçeveleri veya medya oynatıcıları için birleşik bir grafik ön uç
Comment[uk]=Уніфікований графічний інтерфейс для широкого спектру емуляторів ігрових консолей та інших ігрових фреймворків або медіаплеєрів
Comment[zh-hans]=适用于各种游戏控制台模拟器和其他游戏框架或媒体播放器的统一前端
Comment[zh-hant]=適用於多種遊戲主機模擬器和其他遊戲框架或媒體播放器的統一前端
TryExec=/usr/bin/retroarch
Exec=retroarch %F
Icon=com.libretro.RetroArch
Categories=Game;Emulator;
MimeType=application/vnd.efi.img;application/vnd.nintendo.snes.rom;application/x-amiga-disk-format;application/x-atari-2600-rom;application/x-atari-7800-rom;application/x-atari-lynx-rom;application/x-ccd;application/x-cso;application/x-dosexec;application/x-dreamcast-rom;application/x-gameboy-color-rom;application/x-gameboy-rom;application/x-gamecube-rom;application/x-gamegear-rom;application/x-gba-rom;application/x-genesis-32x-rom;application/x-genesis-rom;application/x-hex;application/x-isz;application/x-mame-chd;application/x-msx-rom;application/x-n64-rom;application/x-neo-geo-pocket-color-rom;application/x-nes-rom;application/x-nintendo-3ds-rom;application/x-nintendo-ds-rom;application/x-nrg;application/x-pc-engine-rom;application/x-saturn-rom;application/x-sega-cd-rom;application/x-sega-pico-rom;application/x-sg1000-rom;application/x-sms-rom;application/x-virtual-boy-rom;application/x-wii-rom;application/x-wonderswan-color-rom;application/x-wonderswan-rom;
Keywords=retro;gaming;emulator;console;
PrefersNonDefaultGPU=true
SingleMainWindow=true
StartupNotify=true
StartupWMClass=retroarch
DBusActivatable=false
Hidden=false
NoDisplay=false
Terminal=false
