[Desktop Entry]
Version=1.0
Name=RetroArch
GenericName=RetroArch
Type=Application
Comment=Frontend for emulators, game engines and media players
Comment[ru]=Графический интерфейс для эмуляторов, игровых движков и медиаплееров
Icon=retroarch
Exec=retroarch
Terminal=false
StartupNotify=false
Keywords=multi;engine;emulator;xmb;
Categories=Game;Emulator;
