[Desktop Entry]
Version=1.0
Name=RetroArch
GenericName=Libretro Frontend
Type=Application
Comment=Multi-Engine Platform
Icon=retroarch
Exec=retroarch
Terminal=false
StartupNotify=false
Keywords=multi;engine;emulator;xmb;
Categories=Game;Emulator;
