Source: retroarch
Section: otherosfs
Priority: extra
Maintainer: Hunter Kaller (hizzlekizzle) <hunter_kaller@yahoo.com>
Uploaders: Sergio Benjamim (sergio-br2) <sergio_br2@yahoo.com.br>
Build-Depends:	debhelper (>= 9),
				pkg-config,
				libc6-dev (>= 2.13),
				libpulse-dev,
				libsdl2-dev,
				libavcodec-dev,
				libavdevice-dev,
				libavformat-dev,
				libavutil-dev,
				libswscale-dev,
				libv4l-dev,
				x11proto-xext-dev,
				libxxf86vm-dev,
				libxinerama-dev,
				libudev-dev,
				libusb-1.0-0-dev,
				libasound2-dev,
				libxv-dev,
				libopenal-dev,
				libjack-jackd2-dev,
				libfreetype6-dev,
				libgbm-dev,
				libdrm-dev,
				libegl1-mesa-dev,
				python3-dev,
				zlib1g-dev,
				qt5-default,
				libusb-1.0-0-dev,
				libass-dev,
				nvidia-cg-dev [!armhf]
Standards-Version: 3.9.5
Homepage: http://www.libretro.com/
Vcs-Git: git://github.com/libretro/RetroArch.git
Vcs-Browser: https://github.com/libretro/RetroArch

Package: retroarch
Architecture: any
Depends:		${shlibs:Depends},
				${misc:Depends},
				fonts-dejavu-core,
				python3,
				libqt5waylandclient5,
				nvidia-cg-toolkit [!armhf]
Replaces: ssnes
Suggests: retroarch-joypad-autoconfig, libretro-common-shaders, libretro-common-overlays, retroarch-assets
Description: Simple frontend for the libretro library
 RetroArch is an open source, multi-platform frontend for the libretro API. 
 It can be used as a modular multi emulator system, game engine, media player 
 and 3D technical demonstration. These features are available through 
 libretro cores.
