[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=RetroArch
Type=Application
GenericName=RetroArch
Comment=RetroArch Multi-Engine Platform
Icon=/usr/share/pixmaps/retroarch.svg
Exec=retroarch
Terminal=false
StartupNotify=false
Categories=Game
