overlays = 1
# overlay0_overlay omitted. We don't need to splat an overlay across the screen.
overlay0_rect = "0.50,0.50,0.50,0.50" # Place entire overlay in bottom right part of screen.
overlay0_full_screen = true

# These set defaults across the entire overlay. They can be overridden per-desc with overlayN_descM_alpha_mod = foo, etc.
overlay0_alpha_mod = 2.0 # If we press a button desc, it will have twice the alpha.
overlay0_range_mod = 1.5 # If we press a button desc, the hitbox range will be 1.5x the size until it's released.
overlay0_normalized = true # Descriptor coordinates use normalized coordinates [0, 1] instead of pixels.

overlay0_descs = 5
overlay0_desc0_overlay = left.png
overlay0_desc1_overlay = right.png
overlay0_desc2_overlay = up.png
overlay0_desc3_overlay = down.png
overlay0_desc0 = "left,0.25,0.50,rect,0.125,0.125"
overlay0_desc1 = "right,0.75,0.50,rect,0.125,0.125"
overlay0_desc2 = "up,0.50,0.25,rect,0.125,0.125"
overlay0_desc3 = "down,0.50,0.75,rect,0.125,0.125"

overlay0_desc4 = "nul,0.30,0.90,rect,0.28,0.08" # Paste an arbitrary image. Input associated with this is nul.
overlay0_desc4_overlay = logo.png
