//
//  AppStore.xcconfig
//  RetroArch
//
//

OTHER_CFLAGS = $(inherited) -DHAVE_APPLE_STORE
OTHER_CFLAGS = $(inherited) -DHAVE_ICLOUD
OTHER_CFLAGS = $(inherited) -DHAVE_MAIN
OTHER_CFLAGS = $(inherited) -DHAVE_ONLINE_UPDATER

INFOPLIST_FILE = $(SRCROOT)/OSX/Info_AppStore.plist
DEVELOPMENT_TEAM=UK699V5ZS8
CODE_SIGN_ENTITLEMENTS = RetroArchAppStore.entitlements
