/**
 * RetroArch Web Player
 *
 * This provides the basic styling for the RetroArch web player.
 */
textarea.webplayer {
  font-family: monospace;
  font-size: 0.8em;
}

h1 {
  text-align: left;
}
div.canvas_border {
  background-color:gray;
  width:800px; height:600px;
  margin-left: auto;
  margin-right: auto;
}
canvas.webplayer {
  border: 0px none;
}
