<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ALTBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>ALTDeviceID</key>
	<string>$(TARGET_DEVICE_IDENTIFIER)</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>RetroArch</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>ROM</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.libretro.rom</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>All Files</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>RetroArch URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>retroarch</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>GCSupportedGameControllers</key>
	<array>
		<dict>
			<key>ProfileName</key>
			<string>ExtendedGamepad</string>
		</dict>
		<dict>
			<key>ProfileName</key>
			<string>DirectionalGamepad</string>
		</dict>
		<dict>
			<key>ProfileName</key>
			<string>MicroGamepad</string>
		</dict>
	</array>
	<key>GCSupportsControllerUserInteraction</key>
	<true/>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.games</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>ROM file</string>
			<key>UTTypeIconFiles</key>
			<array/>
			<key>UTTypeIdentifier</key>
			<string>com.libretro.rom</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ROM</string>
					<string>rom</string>
					<string>cue</string>
					<string>bin</string>
					<string>a78</string>
					<string>a26</string>
					<string>a52</string>
					<string>sms</string>
					<string>smc</string>
					<string>sfc</string>
					<string>fig</string>
					<string>sfc</string>
					<string>gb</string>
					<string>gbc</string>
					<string>sgb</string>
					<string>gba</string>
					<string>nes</string>
					<string>fds</string>
					<string>lnx</string>
					<string>ngp</string>
					<string>ngc</string>
					<string>ngpc</string>
					<string>npc</string>
					<string>pce</string>
					<string>ws</string>
					<string>wsc</string>
					<string>vb</string>
					<string>n64</string>
					<string>z64</string>
					<string>gen</string>
					<string>md</string>
					<string>gg</string>
					<string>smd</string>
					<string>32x</string>
					<string>32X</string>
					<string>min</string>
					<string>7z</string>
					<string>cdi</string>
					<string>gdi</string>
					<string>bios</string>
					<string>msx</string>
					<string>col</string>
					<string>rar</string>
					<string>z80</string>
					<string>tzx</string>
					<string>chd</string>
					<string>rvz</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>com.libretro.rom</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
