name: CI Switch/libnx

on:
  push:
  pull_request:
  repository_dispatch:
    types: [run_build]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    container: 
      image: git.libretro.com:5050/libretro-infrastructure/libretro-build-libnx-devkitpro:latest
      options: --user root

    steps:
    - uses: actions/checkout@v4
    
    - name: Compile RA
      run: |
        make -f Makefile.libnx -j$(getconf _NPROCESSORS_ONLN) clean
        make -f Makefile.libnx -j$(getconf _NPROCESSORS_ONLN) HAVE_STATIC_DUMMY=1
    - name: Get short SHA
      id: slug
      run: echo "::set-output name=sha8::$(echo ${GITHUB_SHA} | cut -c1-8)"
    
    - uses: actions/upload-artifact@v3
      with:
        name: RA-libnx-dummy-${{ steps.slug.outputs.sha8 }}
        path: |
          retroarch_switch.nro
