*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  background: #ecf0f1;
  color: #444;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 16px;
  padding: 10px;
}
.how-to-guide {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background: #34495e;
  color: #ecf0f1;
  margin: 0;
  padding: 0 0 40px;
  position: relative;
  text-align: left;
  width: 296px;
}
.how-to-guide:before {
  border: 10px solid transparent;
  border-right-color: #34495e;
  content: '';
  height: 0;
  left: -20px;
  position: absolute;
  top: 20px;
  width: 0;
}
.how-to-guide .button-close {
  -webkit-transition: color 0.25s ease-out 0.1s;
  -moz-transition: color 0.25s ease-out 0.1s;
  -o-transition: color 0.25s ease-out 0.1s;
  transition: color 0.25s ease-out 0.1s;
  background: none;
  border: none;
  color: #ecf0f1;
  font-size: 1em;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 99;
}
.how-to-guide .button-close:hover,
.how-to-guide .button-close:focus {
  color: #3498db;
  cursor: pointer;
}
.how-to-guide .navigation {
  background: #2c3e50;
  border-top: 1px solid #414141;
  bottom: 0;
  font-size: 0.8em;
  height: 40px;
  left: 0;
  line-height: 1em;
  padding: 13px;
  position: absolute;
  width: 100%;
}
.how-to-guide .navigation .nav-state {
  font-weight: bold;
  text-align: center;
}
.how-to-guide .navigation .button-nav {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: background 0.25s ease-out 0.1s;
  -moz-transition: background 0.25s ease-out 0.1s;
  -o-transition: background 0.25s ease-out 0.1s;
  transition: background 0.25s ease-out 0.1s;
  background: #34495e;
  border: none;
  color: #ecf0f1;
  font-size: 0.9em;
  padding: 5px 20px;
  position: absolute;
  top: 5px;
}
.how-to-guide .navigation .button-nav:hover,
.how-to-guide .navigation .button-nav:focus {
  background: #3498db;
  cursor: pointer;
}
.how-to-guide .navigation .button-nav.disabled {
  color: #bdc3c7;
}
.how-to-guide .navigation .button-nav.disabled:hover,
.how-to-guide .navigation .button-nav.disabled:focus {
  background: #34495e;
  cursor: default;
}
.how-to-guide .navigation .button-nav[data-nav="prev"] {
  left: 5px;
}
.how-to-guide .navigation .button-nav[data-nav="next"] {
  right: 5px;
}
.how-to-guide .slide-view {
  overflow: hidden;
}
.how-to-guide .slides {
  -webkit-transition: -webkit-transform 0.25s ease-out 0.1s;
  -moz-transition: -moz-transform 0.25s ease-out 0.1s;
  -o-transition: -o-transform 0.25s ease-out 0.1s;
  transition: transform 0.25s ease-out 0.1s;
  width: 9999px;
}
.how-to-guide .slides[data-active-slide="1"] {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
.how-to-guide .slides[data-active-slide="1"] .step[data-slide="1"] {
  opacity: 1;
}
.how-to-guide .slides[data-active-slide="2"] {
  -webkit-transform: translate(-296px, 0);
  -moz-transform: translate(-296px, 0);
  -ms-transform: translate(-296px, 0);
  -o-transform: translate(-296px, 0);
  transform: translate(-296px, 0);
}
.how-to-guide .slides[data-active-slide="2"] .step[data-slide="2"] {
  opacity: 1;
}
.how-to-guide .slides[data-active-slide="3"] {
  -webkit-transform: translate(-592px, 0);
  -moz-transform: translate(-592px, 0);
  -ms-transform: translate(-592px, 0);
  -o-transform: translate(-592px, 0);
  transform: translate(-592px, 0);
}
.how-to-guide .slides[data-active-slide="3"] .step[data-slide="3"] {
  opacity: 1;
}
.how-to-guide .slides[data-active-slide="4"] {
  -webkit-transform: translate(-888px, 0);
  -moz-transform: translate(-888px, 0);
  -ms-transform: translate(-888px, 0);
  -o-transform: translate(-888px, 0);
  transform: translate(-888px, 0);
}
.how-to-guide .slides[data-active-slide="4"] .step[data-slide="4"] {
  opacity: 1;
}
.how-to-guide .slides[data-active-slide="5"] {
  -webkit-transform: translate(-1184px, 0);
  -moz-transform: translate(-1184px, 0);
  -ms-transform: translate(-1184px, 0);
  -o-transform: translate(-1184px, 0);
  transform: translate(-1184px, 0);
}
.how-to-guide .slides[data-active-slide="5"] .step[data-slide="5"] {
  opacity: 1;
}
.how-to-guide .step {
  -webkit-transition: opacity 0.25s ease-out 0.1s;
  -moz-transition: opacity 0.25s ease-out 0.1s;
  -o-transition: opacity 0.25s ease-out 0.1s;
  transition: opacity 0.25s ease-out 0.1s;
  display: inline-block;
  opacity: 0;
  padding: 10px;
  width: 296px;
  vertical-align: top;
}
.how-to-guide .step header {
  cursor: default;
  font-size: 1.25em;
  margin: 0 0 20px;
  padding: 0;
}
.how-to-guide .step .content {
  cursor: default;
  font-size: 0.85em;
}
